@font-face {
    font-family: 'Poppins M';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins B';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

:root
{
    font-size: 12px;
    font-family: 'Poppins M';
    color: #ff0000;
    text-shadow: 0 0 0.2rem #ffcccc;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/back.webp);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 25px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tooltip
{
    font-size: 1rem;
    background-color: #0005;
    color: #cfc;
    text-shadow: 0 0 3px #0f0;
    box-shadow: inset 0 0 2px #0f05;
    backdrop-filter: blur(2px);
    padding: 4px 8px;
    border-radius: 1em;
    height: fit-content;
    align-self: top;
    text-align: center;
    justify-self: center;
    max-width: 60vw;
}

#tt-slide
{
    grid-area: products;
}

#tt-touch
{
    grid-area: products;
    display: none;
}

#tt-add
{
    grid-area: control;
    display: none;
}

/* */

.order
{
    display: grid;
    grid-template-areas: 'products' 'control';
    /* flex-direction: column;
    align-items: start; */
}

.products
{
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 14rem;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 42px;
    border-radius: 1rem;
    box-shadow: inset 0 0 3px #ccc;
    margin: 0 auto;
    background-color: #f0f0f06b;
    backdrop-filter: blur(2px);
    scroll-snap-type: x mandatory;
    grid-area: products;
}

.product
{
    display: grid;
    grid-template-columns: auto 10% 10%;
    grid-template-rows: 10% 10% auto auto;
    font-size: 0.9em;
    transition: transform 0.3s ease;
    scroll-snap-align: center;
}

input:checked + .product {
    transform: scale(0.7);
}

.product .image
{
    grid-area: 2/1/5/3;
    width: 14rem;
    user-select: contain;
}

.product input {
    appearance: none;
    grid-area: 2/1/5/3;
    margin:0;
    border: solid 1px #aaa;
}

.product input:checked {
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
}

.product .count-background
{
    grid-area: 1/2/3/4;
    background-color: #5656563c;
    margin: 15%;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    display: none;
}

.product .count
{
    grid-area: 1/2/3/4;
    justify-self: center;
    align-self: center;
    padding: 0;
    z-index: 1;
    display: none;
}

.product .price-background
{
    grid-area: 4/1/5/3;
    background-color: #5656563b;
    backdrop-filter: blur(2px);
    margin: 1px;
    padding: 10px;
}

.product .name
{
    grid-area: 4/1/5/3;
    align-self: center;
    z-index: 1;
    margin-left: 0.5em;
}

.product .price
{
    grid-area: 4/1/5/3;
    align-self: center;
    justify-self: end;
    margin-right: 0.5em;
    z-index: 1;
}

/* CONTROL */

.round-button
{
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 0;
    margin: 0px 10px;
}

.order .control
{
    margin-top: 25px;
    justify-self: center;
    align-self: center;
    grid-area: control;
}

/* PREVIEW */

.preview
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: inset 0 0 3px #ccc;
    background-color: #f0f0f06b;
    backdrop-filter: blur(2px);
}

.preview .table
{
    border-collapse: collapse;
}

.preview .table th
{
    padding-bottom: 6px;
    font-size: 1.2rem;
    font-family: 'Poppins B';
}

.preview .table td, .preview .table tfoot th
{
    padding: 0 10px;
    padding-bottom: 4px;
    padding-top: 12px;
}

.preview .table td
{
    border-bottom: 1px solid #ccc;
}

.preview .table tfoot th
{
    text-align: end;
}

/* SEND ORDER */
main > .control
{
    margin-top: 30px;
}

main > .control button
{
    display: block;
    margin: 0 auto;
}

#send
{
    font-size: 1.2rem;
    padding: 8px 24px;
    border-radius: 1.2rem;
    border: 0;
}

/* Define la animación */
@keyframes shrinkButton {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

button
{
    background-color: #f0f0f08f;
    transition: transform 0.3s ease;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0 0 3px #ccc);
    user-select: none;
    font-family: 'Poppins B';
    color: #880;
    text-shadow: 0 0 0.2rem #ffc;
}

button:active {
    animation: shrinkButton 0.5s infinite;
}
